@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Inter", sans-serif;
}
.header{
    width: 1440px;
    background-color:whitesmoke;
    margin: 0 auto;
}
.nav{
    width: 100%;
    background-color: #282829;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
}
.nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav ul li{
    font-size: 18px;
}
.header-text{
    text-align: center;
    margin: 114px 0;
    font-size: 88px;
    font-weight: 500;
    line-height: 93px;
    letter-spacing: 0;
}
.cards{
   margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 100px;
    
    
    
}
.card{
    width: 393px;
    height: 396px;
    border-radius: 20px;
    display: block;
    unicode-bidi: isolate;
}
.cards h2{
    font-size: 28px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
   
}
.cards p{
    width: 393px;
    height: 92px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    height: 23px;
}